{% extends "::base.html.twig" %}

{#{% set hideSidebar = true %}
{% set hideSearch = true %}#}

{% block contentTitle %}Logowanie i rejestracja{% endblock %}

{% block container %}

	<h2 class="strong">Zmień dane konta</h2>
	{% form_theme accountSettingsForm 'bootstrap_3_horizontal_layout.html.twig' %}
	{{ form_start(accountSettingsForm) }}

	{{ form_row(accountSettingsForm.username) }}
	{{ form_end(accountSettingsForm) }}        




	<h2 class="strong">Zmiana hasła</h2>


	{% form_theme changePasswdForm 'bootstrap_3_horizontal_layout.html.twig' %}
	{{ form_start(changePasswdForm) }}

	{{ form_row(changePasswdForm.currentPassword) }}
	{{ form_row(changePasswdForm.plainPassword) }}

	{{ form_end(changePasswdForm) }} 


{% endblock %}