<table class="table">
    <div class="col-12 right">
        {% for button in buttons %}
            <a type="button" role="button" class="btn btn-primary pull-right" href="{{ path(button.routing) }}">{{ button.title }}</a>
        {% endfor %}
    </div>
    <thead>
        <tr>
			{% for key,row in rows %}
				{% if row[0] is defined %}
					<th>{{ key }}</th>
					{% else %}
					<th>{{ knp_pagination_sortable(pagination, row.title, row.row) }}</th>
					{% endif %}
				{% endfor %}

        </tr>
    </thead>
    {# table body #}
    <tbody>
        {% for article in pagination %}
            <tr align="left" {% if loop.index is odd %}class="color"{% endif %}>
                {% for row in rows %}
					{% if row[0] is defined %}
						<td >
							{% for row1 in row %}
								<a type="button" role="button" class="btn btn-default" href="{{ path(row1.routing,{'id': article['p_id']})  }}">{{ row1.title }}</a>
							{% endfor %}
						</td>	
					{% else %}
						<td>{{ article[row.row]|raw}}</td>
					{% endif %}
					{#                    <td><img src='{{ asset('uploads/documents/57fd63a77c0fb.jpeg') }}' alt='Title' /></td>#}
				{% endfor %}
			</tr>
		{% endfor %}
	</tbody>
</table>
<div class="navigation">
    {{ knp_pagination_render(pagination, '::pagination.html.twig') }}
</div>
	
	
{# display navigation #}

