{% extends '::/base.html.twig' %}
{#{% form_theme form 'bootstrap_3_layout.html.twig' %}#}
{% block container %}
	<div class="form_row">

		{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
		{{ form_start(form) }}
		{#    {{ form_widget(form) }}#}

		{{ form_row(form.name) }}
		{{ form_row(form.kind) }}
		{{ form_row(form.files.name) }}
		{{ form_row(form.files.file) }}
		<ul id="email-fields-list" data-prototype="{{ form_widget(form.products.vars.prototype)|e }}">
			{% for product in form.products %}
				<li>
					{{ form_errors(product) }}
					{{ form_widget(product) }}
					<div class="remove-collection">Usuń</div>
				</li>
			{% endfor %}
		</ul>
		 <a href="#" id="add-collection">Dodaj produkt</a>
		{{ form_end(form) }}
	</div>

<script type="text/javascript">
    // keep track of how many email fields have been rendered
    var emailCount = '{{ form.products|length }}';

    jQuery(document).ready(function() {
        jQuery('#add-collection').click(function(e) {
            e.preventDefault();

            var emailList = jQuery('#email-fields-list');

            // grab the prototype template
            var newWidget = emailList.attr('data-prototype');
            // replace the "__name__" used in the id and name of the prototype
            // with a number that's unique to your emails
            // end name attribute looks like name="contact[emails][2]"
            newWidget = newWidget.replace(/__name__/g, emailCount);
            emailCount++;

            // create a new list element and add it to the list
            var newLi = jQuery('<li></li>').html(newWidget);
            newLi.appendTo(emailList);
        });
		$('.remove-collection').click(function(){
			console.log($(this).parent('li').html());
			$(this).parent('li').remove();		
		});
			
		
    })
</script>
{% endblock %}
