{% extends "::base.html.twig" %}

{#{% set hideSidebar = true %}
{% set hideSearch = true %}#}

{% block contentTitle %}Reset bazy danych{% endblock %}

{% block container %}

	<h2 class="strong">Wszystkie dane zostaną usunięte poza pokojami i użytkownikami z rolą admina</h2>
	{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
	{{ form_start(form) }}

	{{ form_row(form.currentPassword) }}
	{{ form_end(form) }}      

{% endblock %}