{% extends '::base.html.twig' %}

{% block container %}
	<style>

	</style>
	<form action="{{ path('rooms') }}" method="post">
		<h1 style="float:left">Pokoje</h1> <h3 style="float:left;padding-left: 300px;margin-top: 30px">Podsumowanie</h3>

		<div class='row'>
			{%for room in rooms %}
				


					<div class="col-sm-12" style=" ">
						<div class="col-sm-12 text-center" style="margin-top:5px;padding:10px; background-color:#666060; color:white">
							<span class="glyphicon glyphicon-home"  ></span> {{room.name}}
{#							<input class="pull-right" type="submit" value="Zarezerwuj" style="background-color: #FFF500;color: black;"/>#}
						</div>
						<div class="" style="background-color:white!important">
							<div class="col-sm-6 text-center" style="border:1px solid">
								PIĄTEK 2018-11-17 
							</div>
							<div class="col-sm-6 text-center" style="border:1px solid">
								SOBOTA 2018-11-18
							</div>
						</div>
						<div class="col-sm-6" style="background-color:#E5D9C1; border:1px solid">
							{%for bed in room.beds %}
								{% if bed.day|date("Y-m-d") == '2018-11-17' %}
									<div class="col-sm-6" style="height:40px">

										{% if blockedBed[bed.id] is defined  %}
											<span class="" style="color:black;"><span class="glyphicon glyphicon-bed" style="height:40px;padding-top: 10px"></span>  {{bed.bedNumber}} {{blockedBed[bed.id]}}</span> 

										{%else%}	
											<span class=""></span><span class="glyphicon glyphicon-bed" style="height:40px;padding-top: 10px"></span>
											<input type="checkbox" id="{{bed.id}}" name="{{bed.id}}" {%if mybeds[bed.id] is defined %}checked="checked"{%endif%}>
											{{bed.bedNumber}}
										{%endif%}
									</div>
									{#					{{bed.day|date("Y-m-d")}}#}
								{% endif %}
							{% endfor %}
						</div>
						<div class="col-sm-6" style="background-color:#E5D9C1; border:1px solid">
							{%for bed in room.beds %}
								{% if bed.day|date("Y-m-d") == '2018-11-18' %}
									<div class="col-sm-6" >

										{% if blockedBed[bed.id] is defined  %}
											<span class="" style="color:black;"><span class="glyphicon glyphicon-bed" style="height:40px;padding-top: 10px"></span> {{bed.bedNumber}} {{blockedBed[bed.id]}}</span> 

										{%else%}	
											<span class=""></span><span class="glyphicon glyphicon-bed" style="height:40px;padding-top: 10px"></span>
											<input type="checkbox" id="{{bed.id}}" name="{{bed.id}}" {%if mybeds[bed.id] is defined %}checked="checked"{%endif%}>
											{{bed.bedNumber}}
										{%endif%}
									</div>
									{#					{{bed.day|date("Y-m-d")}}#}
								{% endif %}
							{% endfor %}
						</div>
					</div>
			
			{% endfor %}

		</div>
		{#	<script>
				var Lx = {
					send: function (data, url, succes) {
		
						$.ajax({
							type: "POST",
							url: url,
							data: data,
							success: function (data) {
								return succes(data);
							}
						});
					}
		
				}
				Lx.send({kind: kind}, '{{path('order')}}', function (data) {
				{#			var dataJson = JSON.parse(data.replace(/(&quot\;)/g, "\""));#}

		{#			});#}
		{#	</script>#}
		<div class='row'>
			<div class="col-md-12">
{#				<input type="submit" value="Zarezerwuj" style="background-color: #FFF500;color: black; border: 2px solid; margin:5px; "/>#}
			</div>
		</div>

	</form>
{% endblock %}
