{% extends '::base.html.twig' %}

{% block container %}

	<h1>Podsumowanie</h1>
	<p>Liczba posiłków nie wegetariańskich : {{allMeals - vegetariansCount}}</p>
	<p>Liczba posiłków wegetariańskich: {{vegetariansCount}}</p>
	<p>Liczba pokoi: {{allMeals}}</p>
	<br/>
	<br/>
	{% set sum = 0 %}

	<div class="row" style="font-weight: 800">
		<div class="col-md-1">Nr zamówienia:</div>
		<div class="col-md-2">Email: </div>
		<div class="col-md-2">Nazwa klubu:</div>
		<div class="col-md-1">Dodano: </div>
		<div class="col-md-1">Telfon: </div>
		<div class="col-md-1">Do zapłaty: </div>
		<div class="col-md-1">Zapłacono: </div>
		<div class="col-md-1">status:</div>
		<div class="col-md-2">Opcje</div>
	</div>
	{% for order in orders %}
		<div class="row" style="padding:5px 5px 5px 5px;border-bottom: 1px solid;">
			<div class="col-md-1">{{ order.id|priceF }}</div>
			<div class="col-md-2">{{ order.user.email}}</div>
			<div class="col-md-2">{{ order.name }}</div>
			<div class="col-md-1" style="{%if  order.createdAt|checkDate %}color:red{%endif%}">{% if order.createdAt != "" %}{{ order.createdAt|date('Y-m-d') }}{%endif%}</div>
			<div class="col-md-1">{{ order.user.username}}</div>
			<div class="col-md-1">{{ order.toPay }}</div>
			<div class="col-md-1">{{ order.paid }}</div>
			<div class="col-md-1" style="{% if order.status == 'paid' %}color:green;{%endif%}{% if order.status == 'paid_in_half' %}color:orange;{%endif%}">{{ order.getStatusArray[order.status] }}</div>
			<div class="col-md-2"><a href="{{path('admin_edit',{'id': order.id})}}">Edytuj</a>   <a href="{{path('admin_delete',{'id': order.id})}}">Usuń</a></div>


		</div>

		{% for orderItem in order.orderItems%}
			<div class="row" style="background-color:#E5D9C1">
				<div class="col-md-2"  style="background-color:white!important;height: 20px"></div>
				<div class="col-md-2">{{ orderItem.bed.day|date('Y-m-d')}}</div>
				<div class="col-md-2">{{ orderItem.bed.room.name}}</div>
				<div class="col-md-2">Łóżko {{ orderItem.bed.bedNumber}}</div> 
				<div class="col-md-2">{{ orderItem.personName}}</div> 
				<div class="col-md-2">{% if orderItem.vegetarians == true%} Posiłek wegetariański {%else%}Posiłek zwykły{%endif%}</div>
			</div>

		{% endfor %}
	{% endfor %}

	{#<h4>Do zapłaty:  {{order.toPay}} zł</h4>
	{% set sum = sum + order.toPay %}
{%endfor%}
{% if sum > 0 %}
	<br>
	<br>
	<h4>Razem do zapłaty:  {{sum}} zł</h4>

	<p>Zamówienie prosimy opłacić przelewem na konto:</p>
	<p>82 1050 1360 1000 0090 3025 7639</p>
	<p>Speleoklub Dąbrowa Górnicza</p>
	<p>41-300 Dąbrowa Górnicza, ul. 3-go Maja 12</p>

	<p>W treści przelewu proszę wpisać: Speleokonfrontacje Nr {{orderid}}</p>
	<p>Rezerwację należy opłacić do dnia : {{cratedAt}} . W przypadku nieopłacenia zamówienia do wymaganej daty, rezerwację uznaje się za anulowaną.</p>
{%else%}
	<h3>Brak rezerwacji</h3>
{%endif%}#}


{% endblock %}
