{% extends '::base.html.twig' %}

{% block container %}
	{#    {{ table |raw}}#}
	{#	<h2>Zamówienie</h2>
		{{obj.user.username}}
		<br/>
		{% for item in obj.orderItems %}
			<br/>
			{{item.bed.room.name}}
			<br/>
			Nr pokoju {{item.bed.bedNumber}}
			<br/>
			Data {{item.bed.day|date('Y-m-d')}}
			<br/>
			<br/>
		{% endfor %}#}

	<h1>Zamówienia</h1>
	{% set sum = 0 %}
	{% for order in orders%}
		<h3>Nazwa klubu: {{ order.name }}</h3>
		{% for orderItem in order.orderItems%}
			<div class="row">
				<div class="col-md-2">{{ orderItem.bed.day|date('Y-m-d')}}</div>
				<div class="col-md-2">{{ orderItem.bed.room.name}}</div>
				<div class="col-md-2">Łóżko {{ orderItem.bed.bedNumber}}</div> 
				<div class="col-md-2">{{ orderItem.personName}}</div> 
				<div class="col-md-2">{% if orderItem.vegetarians == true%} Posiłek wegetariański {%endif%}</div>
			</div>
		{%endfor%}
		<h5><b>Nr zamówienia:  {{order.id|priceF}}</b></h5>
		<h4 style="float:left">Do zapłaty:  {{order.toPay}} zł  | Zapłacono {{order.paid}} zł </h4>
		{% if order.status == 'reservation' %}  <a style="color:white" href="{{ path('user_edit_order',{'id': order.id}) }}"><button type="button" style="margin-left:10px" class="btn btn-primary">Edytuj zamówienie</button></a>{%endif%} 
		{% set sum = sum + order.toPay %}
		<br/>
		<hr />
	{%endfor%}
	
	{% if sum > 0 %}
		<br>
		<br>
		<h4>Razem do zapłaty:  {{sum}} zł</h4>

		<p>Zamówienie prosimy opłacić przelewem na konto:</p>
		<p>82 1050 1360 1000 0090 3025 7639</p>
		<p>Speleoklub Dąbrowa Górnicza</p>
		<p>41-300 Dąbrowa Górnicza, ul. 3-go Maja 12</p>

		<p>W treści przelewu proszę wpisać: Speleokonfrontacje i Nr zamówienia</p>
		<p>Rezerwację należy opłacić do dnia : {{cratedAt}} . W przypadku nieopłacenia zamówienia do wymaganej daty, rezerwację uznaje się za anulowaną.</p>
	{%else%}
		<h3>Brak rezerwacji</h3>
	{%endif%}


{% endblock %}
