{% extends '::base.html.twig' %}

{% block container %}
	{#    {{ table |raw}}#}
	{#	<h2>Zamówienie</h2>
		{{obj.user.username}}
		<br/>
		{% for item in obj.orderItems %}
			<br/>
			{{item.bed.room.name}}
			<br/>
			Nr pokoju {{item.bed.bedNumber}}
			<br/>
			Data {{item.bed.day|date('Y-m-d')}}
			<br/>
			<br/>
		{% endfor %}#}

	<h1>Zamówienie</h1>
	<div class="form_row">

		{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
		{{ form_start(form) }}
		{#    {{ form_widget(form) }}#}

		{{ form_row(form.name) }}
		{{ form_row(form.shortName) }}
		{% if form_type == 'edit' %}
			{{ form_row(form.status) }}
			{{ form_row(form.paid) }}		
		{% endif %}

		<ul id="email-fields-list" data-prototype="{{ form_widget(form.orderItems.vars.prototype)|e }}">
			{% for item in form.orderItems %}
				<li>
					<div class="row">
						<div class="col-md-1 control-label">{{ item.bed.day.vars.value.year }}-{{ item.bed.day.vars.value.month }}-{{ item.bed.day.vars.value.day }}</div>
						<div class="col-md-1 control-label">{{ item.bed.room.name.vars.value }}</div>
						<div class="col-md-1 control-label">Łóżko {{ item.bed.bedNumber.vars.value }}</div>
						<div class="col-md-5">{{ form_row(item.personName) }}</div>
						<div class="col-md-3">{{ form_row(item.vegetarians) }}</div>
						{% if form_type == 'edit' or form_type == 'editUser'%}
							<div class="col-md-1 remove-collection btn btn-danger">Usuń</div>
						{% else %}
							<div class="col-md-1"></div>
						{% endif %}
					</div>
					<span style="visibility: hidden;  display: none;">
						{{ form_row(item.id) }}
						{{ form_row(item.bed.bedNumber) }}
						{{ form_row(item.bed.room.name) }}
						{{ form_row(item.bed.day) }}
					</span>

				</li>

				{% do item.setRendered %}
			{% endfor %}
		</ul>
		<h4 >Do zapłaty {{ obj.toPay }} zł</h4> {% if form_type == 'edit' or form_type == 'editUser'%}<span style="size:14px"> Cena zaktualizuje się po zapisaniu formularza</span></br></br>{%endif%}
		{#		<a href="#" id="add-collection">Potwierdź z obowiązkiem zapłaty</a>#}
		{#<a href="{{path('rooms')}}">	<button type="button" class="btn btn-default" style="float:left">Zapisz i wróć do listy pokoi</button></a>#}
		<div class="row">
			<div class="col-md-2">
				{{ form_row(form.save) }}
			</div>
			<div class="col-md-1">
				{{ form_row(form.cancel) }}
			</div>
		</div>

		{{ form_end(form) }}
	</div>
	<style>
		ul{
			list-style-type: none;
		}
	</style>
	<script type="text/javascript">
		// keep track of how many email fields have been rendered
		var emailCount = '{{ form.orderItems|length }}';

		jQuery(document).ready(function () {
			jQuery('#add-collection').click(function (e) {
				e.preventDefault();

				var emailList = jQuery('#email-fields-list');

				// grab the prototype template
				var newWidget = emailList.attr('data-prototype');
				// replace the "__name__" used in the id and name of the prototype
				// with a number that's unique to your emails
				// end name attribute looks like name="contact[emails][2]"
				newWidget = newWidget.replace(/__name__/g, emailCount);
				emailCount++;

				// create a new list element and add it to the list
				var newLi = jQuery('<li></li>').html(newWidget);
				newLi.appendTo(emailList);
			});
			$('.remove-collection').click(function () {
		{#					console.log($(this).parent('li').html());#}
					$(this).closest('li').remove();
				});


			})
	</script>
{% endblock %}
