{% extends '::/base.html.twig' %}
{#{% form_theme form 'bootstrap_3_layout.html.twig' %}#}
{% block container %}
    <div class="row">
        <div class="form-group">
            <div id="meals" class="col-md-6" style="background-color: #C4DBD8"></div>

            <div id="calendar" class="col-md-6" style="background-color: #E3F2E1">
                <div class="col-md-6" style="cursor: pointer">

                    <div id="add-day" style="display:none"  aria-hidden="true">
                        <button type="button" class="btn btn-default btn-md">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Dzień
                        </button>
                    </div>
                    <div id="days"></div>
                </div>
                <div  class="col-md-6" id="add-diet">
                    <div class="form-group">
                        <label for="usr">Dodaj dietę:</label>
                        <input id="dietName" type="text" class="form-control" >
						<span  class="glyphicon glyphicon-plus btn btn-primary add-diet "   aria-hidden="true"></span>
                    </div>



                    <div id="diet"></div>
                </div>
            </div> 
        </div>
    </div>


	/////////////
	<div id="panel-pattern" class="hidden">
		<div class="" style="clear:both">                                                                                                                                                                                                                                             
			<div class="form-group">
				<button type="button" class="btn btn-default btn-md add-meal-to-day">
					<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Posiłek
				</button>
				<label>Ilość posiłków</label> 
				<select class="selectpicker add-meal-select">
					<option value="brekfast">Śniadanie</option>
					<option value="dinner">Obiad</option>
					<option value="supper">Kolacja</option>
				</select>

				{#				<button type="button" class="btn btn-primary btn-sm">Zapisz</button>#}
			</div>
		</div>
    </div>

	/////////////////
    <div id="diet-pattern" class="row col-md-6 hidden" >
        <button type="button" class="btn btn-primary diet-select" id="__id__" data-diet_id="__diet_id__" data-diet-name=""></button>
    </div>

	//////////////
    <div class="day_block hidden">
        <div id="__id__" class="day" data-id=""   class="row">
			<button type="button" class="btn btn-primary btn-sm day-name">__day_name__</button>
			{#            <div class="day-name" style="background-color: #9999cc">__day_name__</div> #}
            <div class="day-meals">__meals_info__</div> 
            <div class="day-calories">__calories_info__</div> 
        </div>   
    </div>
    <div class="meal-block hidden ">
        <div id="__id__" data-id=""  class="row">
            <div class="col-md-1 prev-meal">
                <a href="#"><i class="glyphicon glyphicon-step-backward" ></i></span></a>
            </div>
            <div class="col-md-10">

                <div class="col-md-12">
                    <div class="col-md-2 img-meal">
                        <img src="" alt="buźka" style="width:50px" />
                    </div>
                    <div class="col-md-10 title-meal">

                    </div>
                </div>
            </div>
            <div class="col-md-1 next-meal">
                <a href="#" class=""><i class="glyphicon glyphicon-step-forward" ></i></span></a>
            </div>
        </div>
    </div>

    <script>
		var Lx = {
			send: function (data, url, succes) {

				$.ajax({
					type: "POST",
					url: url,
					data: data,
					success: function (data) {
						return succes(data);
					}
				});
			}
		}

		var Helper = {
			test: 'test',
			t2: 't2',
			getFirstKeyAndRemove: function (obj) {
				var firstKey;
				for (key in obj) {
					if (key != null) {
						firstKey = obj[key];
						obj.splice(key, 1);
						break;
					}
					delete obj[key];
				}
				;
				return firstKey;
			},
			getNextKey: function (obj, currentId) {
				$i = 0;
				for (key in obj) {
					if ($i == 1) {
						currentId = key;
						break;
					}
					if (key == currentId) {
						$i = 1;
					}
				}
				return currentId;
			},
			getPrevKey: function (obj, currentId) {
				$i = 0;
				var current = currentId;
				for (key in obj) {
					if (currentId == key) {
						break;
					}
					current = key;
				}
				return current;
			},
		};
		var Resources = {
			dietTabLenght: null,
			currentDiet: null,
			currentDay: null,
			dietTab: new Array(),
			mealsDiv: $('#meals'),
			dietImport: '{{ diet }}',
			run: function () {
				Resources.dietImport = JSON.parse(Resources.dietImport.replace(/(&quot\;)/g, "\""));
				Resources.import();
				Resources.dietTabLenght = Resources.dietTab.length;
				Resources.js();
			},
			import: function () {
				$.each(Resources.dietImport, function () {
					Resources.addDiet(this, true);
				});
			},
			addDiet: function (data, importData) {

				var block = DietPattern.html;
				var i = Resources.dietTabLenght;
				block = block.replace('__id__', "diet" + i);
				block = block.replace('__diet_id__', i);
				DietPattern.id.append(block);
				var id = $(block).attr('id');
				var name = DietPattern.getName();
				if (importData) {
					name = data['name'];
				}

				$("#" + id).text(name);
				var diet = Resources.diet();
				diet.name = name;
				diet.id = id;
				diet.days = new Array();
				Resources.dietTab[id] = diet;
				Resources.dietTabLenght++;
				if (importData) {

					$.each(data.dietDays, function () {
		{#						console.log(Resources.dietTab[id]);#}
							Resources.dietTab[id].importDays(this);{#						Resources.diet.days.push(Diet.lexus());#}
						});
					}
				},
				getMeal(kind) {
					Lx.send({kind: kind}, '{{path('meals_json')}}', function (data) {
						var dataJson = JSON.parse(data.replace(/(&quot\;)/g, "\""));
						Food.add(dataJson, kind);
					});
				},
				readDays: function () {

				},
				js: function () {
					$(document).ready(function () {
						$('body').on('click', '.diet-select', function () {
							Resources.currentDiet = Resources.dietTab[$(this).attr('id')];
							Resources.currentDiet.readDays();
							Resources.currentDay = Resources.currentDiet.days[0];
							Resources.mealsDiv.html("");
							if (Resources.currentDay != null) {
								Resources.currentDay.readMeal();
							}
							$('#add-day').show();
        {#                        currentDiet.days.firstMeal();#}
						});
						$('.add-diet').click(function () {
							Resources.addDiet(this, false);
						});
						//Lexus
						$('body').on('click', '.next-meal', function () {
		{#							Resources.getMeal("brekfast");#}
							Resources.currentDay.nextMeal(this);
						});
						$('body').on('click', '.prev-meal', function () {
							Resources.currentDay.prevMeal(this);
						});
						$('#add-day').click(function () {
							Resources.currentDiet.addDay();
						});
						$('body').on('click', '.day', function () {
							Resources.currentDay = Resources.currentDiet.days[$(this).attr('id')];
							
							Resources.currentDay.readMeal();
						});
						$('body').on('click', '.add-meal-to-day', function () {
							var mealKind = $(".add-meal-select").val();
							var meal = Helper.getFirstKeyAndRemove(Food[mealKind]);
							Resources.getMeal(mealKind);
							if (meal != null) {
								Resources.currentDay.addMeal(meal, mealKind);
							} else {
								alert('brak posiłków w bazie')
							}

						});
					});
				},
				diet: function () {
					var Diet = {
						currentDay: null,
						id: null,
						name: null,
						days: new Array(),
						readDiet: function () {
        {#                            Diet.days = Diet.lexus();#}
        {#var block = Diet.dietPatternHtml;
        for (i = 0; i < Diet.dietTab.length; i++) {
            blok = block.replace('__id__', "diet" + i);
            block = block.replace('__diet_id__', i);
            Diet.diet.append(block);
            var id = $(block).attr('id');
            $("#" + id).text('Dieta ' + (i + 1));
            Diet.dietTab[i] = {};
        }#}

						},
						readDays: function () {
							var days = $('#days');
							days.html("");
							$.each(Diet.days, function (k, v) {
								var dayBlock = $('.day_block').html();
								dayBlock = dayBlock.replace('__id__', k);
								dayBlock = dayBlock.replace('__day_name__', 'Dzień ' + k);
								dayBlock = dayBlock.replace('__meals_info__', k);
								days.append(dayBlock);
							});
							if (Diet.days.length == 0) {
								days.html('Brak dodanych diet');
							}

						},{#      readDay: function (id) {
                            var day = value;Diet.days(id);
                            Diet.readDays();
                        },#}
						addDay: function () {
							var day =  new createDay();
							Diet.days.push(day);
							Diet.readDays();
						},
						importDays: function (day) {

							$.each(day.dietDayRecipes, function () {
								var day = new createDay();
								day.importMeal(this);
								Diet.days.push(day);
							});
						},
						js: function () {
							$(document).ready(function () {

							});
						},
					};
					return Diet;
				}
			};
			var DietPattern = {
				id: $('#diet'),
				html: $('#diet-pattern').html(),
				getName: function () {
					return $('#dietName').val();
				}
			}
			Resources.run();
			function createMeal(meal, kind) {
				this.save = null;
				this.divName = null;
				this.kind = kind;
				this.img = meal['img'];
				this.name = meal['name'];
				return this;
			}
			;
			function createMealImport(meal) {
				this.id = meal.image.id;
				this.img = meal.image.img;
				this.save = null;
				this.divName = meal.name;
				this.kind = meal.kind;
				this.name = meal.name;
				return this;
			}
			;
			function createDay() {
				this.brekfast = new Array();
				this.snacks = new Array();
				this.dinner = new Array();
				this.supper = new Array();
				this.meals = new Array();
				this.firstMealCurrentId = null;
				this.kindOfMeals = '{{kindOfMeals}}';
				this.numberOfMeals = 0;
				this.mealBlock = "";
				this.dayBlock = "";
				this.mealsHtml = "";
				this.dietHtml = "";
				this.calendarHtml = "";
				this.calendarDays = 5;
				this.maxAmountDiet = 1;
				this.run = function () {
					this.brekfast = new Array(); //JSON.parse(Lexus.brekfast.replace(/(&quot\;)/g, "\""));
					this.snacks = new Array(); //JSON.parse(Lexus.snacks.replace(/(&quot\;)/g, "\""));
					this.dinner = new Array(); //JSON.parse(Lexus.dinner.replace(/(&quot\;)/g, "\""));
					this.supper = new Array(); //JSON.parse(Lexus.supper.replace(/(&quot\;)/g, "\""));
					this.kindOfMeals = new Array(); //JSON.parse(Lexus.kindOfMeals.replace(/(&quot\;)/g, "\""));
					this.numberOfMeals = this.kindOfMeals.length;
					this.mealBlock = $('.meal-block').html();
					this.dayBlock = $('.day_block').html();
					this.mealsHtml = $('#meals');
					this.calendar = $('#calendar');
					this.days = $('#days');
				};
				this.calendar = function () {
					var block = this.dayBlock;
					for (i = 1; i < this.calendarDays; i++) {

						var html = block.replace('__id__', "day" + i);
						this.calendarHtml.append(html);
						$('#' + "day" + i).html("Dzień " + i);
					}
				};
				this.importMeal = function (meal) {

					var meal = new createMealImport(meal['recipe']);
					this.meals.push(meal); //dodaje nowy posiłek do aktualnego dnia
				}
				;
				this.addMeal = function (meal, kind) {
					var meal = new createMeal(meal, kind);
					this.meals.push(meal); //dodaje nowy posiłek do aktualnego dnia
					this.readMeal();
				};
				this.nextMeal = function (obj) {
					var mealId = $(obj).parent().attr('data-id');
					var divId = $(obj).parent().attr('id');
					var mealObj = this.meals[mealId];
					var oldObj = Object.assign({}, mealObj); //clonowanie obiektu
					if (mealObj.save == null) {
						mealObj.save = oldObj;
					}
		
							if (Food[mealObj['kind']].length < 5) {
								Resources.getMeal(mealObj['kind']);
							}
							var newMeal = Helper.getFirstKeyAndRemove(Food[mealObj['kind']]);
							if (newMeal != null) {
								mealObj['img'] = newMeal['img'];
								mealObj['name'] = newMeal['name'];
								this.readMeal();
							} else {
								alert('brak nowych posiłków');
							}

						};
						prevMeal = function (obj) {
							var mealId = $(obj).parent().attr('data-id');
		{#								var divId = $(obj).parent().attr('id');#}
					var mealObj = this.meals[mealId];
					var objectSave = mealObj['save'];
					mealObj['img'] = objectSave['img'];
					mealObj['name'] = objectSave['name'];
					mealObj['save'] = null;
					this.readMeal();
				};
				this.setMeal = function (mealObj, mealId) {
					currentMeal = mealObj;
					$('#' + mealObj['divName']).attr('data-id', mealId);
					$('#' + mealObj['divName'] + ' .title-meal').html(currentMeal.name);
					$('#' + mealObj['divName'] + ' .img-meal img').attr({'src': 'data:image/gif;base64,' + currentMeal.img});
				};
				this.clearMeal = function () {
					$(this.mealsHtml).html("");
				};
				this.readMeal = function () {
					this.clearMeal();
					this.mealsHtml.append($('#panel-pattern').html());
					if (this.meals.length == 0) {
						this.mealsHtml.append("Brak posiłków");
					}

					$.each(this.meals, function (k, v) {
						var block = this.mealBlock;
		
						var kind = v.kind;
						kind = kind + k;
						this.meals[k].divName = kind;
						var meal = v.meal;
						block = block.replace('__id__', kind);
						this.mealsHtml.append(block);
						this.setMeal(v, k);
					}.bind(this));
				};
				this.jsRun = function () {
					$(document).ready(function () {


					});
				};
				this.run();
				return this;
			}
			;
			
			Food = {
				brekfastObj: JSON.parse('{{brekfast}}'.replace(/(&quot\;)/g, "\"")),
				snacksObj: JSON.parse('{{snacks}}'.replace(/(&quot\;)/g, "\"")),
				dinnerObj: JSON.parse('{{dinner}}'.replace(/(&quot\;)/g, "\"")),
				supperObj: JSON.parse('{{supper}}'.replace(/(&quot\;)/g, "\"")),
				brekfast: new Array(),
				snacks: new Array(),
				dinner: new Array(),
				supper: new Array(),
				run: function () {
					$.each(Food.brekfastObj, function (k, v) {
						Food.brekfast.push(v);
					});
					$.each(Food.dinnerObj, function (k, v) {
						Food.dinner.push(v);
					});
					$.each(Food.brekfastObj, function (k, v) {
						Food.brekfast.push(v);
					});
				},
				add: function (obj, kind) {
					$.each(obj[kind], function (k, v) {
						Food[kind].push(v);
					});
				},
			}
			Food.run();
    </script>
{% endblock %}

