<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>


    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />


</head>
<body>
    <style>   
        body{margin-top:20px;}
        .fa-fw {width: 2em;}

    </style> 

    <div class='col-md-12'>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Speleokonfrontacje 2018</a><img style="height:50px" src='{{ asset('uploads/documents/sgd.png') }}'  />
                </div>
                <ul class="nav navbar-nav">
					{#                    <li class="{% if app.request.attributes.get('_route') == "home" %} active {% endif %}"><a href="{{ path("home") }}">Home</a></li>#}
					{#                    <li ><a href="{{ path("login") }}">Page 1</a></li>#}
					{#                    <li ><a href="#">Page 2</a></li>#}
                </ul>
                <ul class="nav navbar-nav navbar-right">
					{% if is_granted('ROLE_USER') %} 
                    <li><a href="{{ path("logout") }}"><span class="glyphicon glyphicon-user"></span> Wyloguj</a></li>
					{% endif %}
{#						                    <li class="{% if path(app.request.attributes.get('_route')) == path("blog_login") %} active {% endif %}"><a href="{{ path("blog_login") }}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>#}
                </ul>
            </div>
        </nav> 
        <div class="">
            <div class="col-sm-2">
                <ul class="nav-left">
					{% if is_granted('ROLE_USER') %} 
                    <li style="border:1px solid; background-color: #FFF500;" class="{% if app.request.attributes.get('_route') == path("rooms") %} active {% endif %}"><a href="{{ path("rooms") }}" data-target-id="home"><i class="fa fa-home fa-fw"></i>Pokoje</a></li>
						{#                    <li class="{% if app.request.attributes.get('_route') == path("order") %} active {% endif %}"><a href="{{ path("order") }}" data-target-id=""><i class="fa fa-list-alt fa-fw"></i>Rezerwacja</a></li>#}
                    <li style="border:1px solid; background-color: #FFF500;" class="{% if app.request.attributes.get('_route') == path("orders") %} active {% endif %}"><a href="{{ path("orders") }}" data-target-id=""><i class="fa fa-list-alt fa-fw"></i>Zamówienia</a></li>
                    <li style="border:1px solid; background-color: #FFF500;" ><a target="_blank" href="https://docs.google.com/spreadsheets/d/e/2PACX-1vRTPfWTnTTClNETDfpCV985bbRW67etgLHrKx60TzVU4vGvnttsBswOHCJwykOeXf5FnxbmCZdfAIhF/pubhtml?gid=330105323&single=true" data-target-id=""><i class="fa fa-list-alt fa-fw"></i>Układ pokoi</a></li>
					{% endif %}

					{% if is_granted('ROLE_ADMIN') %} 
						<li style="border:1px solid; background-color: #FFF500;" class="{% if app.request.attributes.get('_route') == path("admin") %} active {% endif %}"><a href="{{ path("admin") }}" data-target-id=""><i class="fa fa-list-alt fa-fw"></i>Podsumowanie zamówienia</a></li>
						<li style="border:1px solid; background-color: #FFF500;" class="{% if app.request.attributes.get('_route') == path("admin2") %} active {% endif %}"><a href="{{ path("admin2") }}" data-target-id=""><i class="fa fa-list-alt fa-fw"></i>Podsumowanie zamówienia/pokoje</a></li>
						<li style="border:1px solid; background-color: #FFF500;" class="{% if app.request.attributes.get('_route') == path("admin3") %} active {% endif %}"><a href="{{ path("admin3") }}" data-target-id=""><i class="fa fa-list-alt fa-fw"></i>Podsumowanie pokoje</a></li>
						{% endif %}
					{% if is_granted('ROLE_SUPER_ADMIN') %} 
						<li style="border:1px solid; background-color: #FFF500;" class="{% if app.request.attributes.get('_route') == path("userslist") %} active {% endif %}"><a href="{{ path("userslist") }}" data-target-id=""><i class="fa fa-list-alt fa-fw"></i>Użytkownicy</a></li>
						<li style="border:1px solid; background-color: #FFF500;" class="{% if app.request.attributes.get('_route') == path("admin_reset") %} active {% endif %}"><a href="{{ path("admin_reset") }}" data-target-id=""><i class="fa fa-list-alt fa-fw"></i>Reset bazy</a></li>
						{% endif %}
					{% if is_granted('ROLE_USER') %} 
					<li style="" class="">
						Naliczanie kwoty do zapłaty:</br>
						- tylko piątek - 40zł </br>
						- piątek + sobota - 120 zł </br>
						- tylko sobota - 85 zł
					</li>
					{% endif %}
                </ul>
            </div>
            <div class="col-sm-10">
				{% if app.session.flashBag.has('danger') %}
					<div class="alert alert-danger">
						{% for msg in app.session.flashBag.get('danger') %}
							{{ msg }}
						{% endfor %}
					</div>
				{% endif %}
				{% if app.session.flashBag.has('success') %}
					<div class="alert alert-success">
						{% for msg in app.session.flashBag.get('success') %}
							{{ msg }}
						{% endfor %}
					</div>
				{% endif %}
                {% block container %}

                {% endblock %}
            </div>
        </div>

    </div>

	<style>
		.nav-left, li{
			height-min:40px;
			padding:10px;
			margin-bottom: 2px;

		}
		.nav-left, ul{
			list-style-type: none;
		}
	</style>
    {% block javascripts %}
        <script>
			$(document).ready(function ()
			{
				var navItems = $('.admin-menu li > a');
				var navListItems = $('.admin-menu li');
				var allWells = $('.admin-content');
				var allWellsExceptFirst = $('.admin-content:not(:first)');

				allWellsExceptFirst.hide();
				navItems.click(function (e)
				{
            {#                e.preventDefault();#}
						navListItems.removeClass('active');
						$(this).closest('li').addClass('active');

						allWells.hide();
						var target = $(this).attr('data-target-id');
						$('#' + target).show();
					});
				});
        </script>
    {% endblock %}
</body>
</html>
