{% extends '::/base.html.twig' %}
{#{% form_theme form 'bootstrap_3_layout.html.twig' %}#}
{% block container %}

	{% for product in objekt%}
   {{ product.id }}
	{% endfor%}
	<a href="{{ path('product2') }}">nazwa</a>
	<input type="text">
{% endblock %}