
{% extends "::base.html.twig" %}
{#{% extends '::default/index.html.twig' %}#}
{#{% set hideSidebar = true %}#}
{#{% set hideSearch = true %}#}

{#{% block pageTitle %}Zaloguj się lub zarejestruj{% endblock %}#}

{% block contentTitle %}Logowanie i rejestracja{% endblock %}

{% block container %}
   {# {% if error %}
        ... {{ error.messageKey|trans(error.messageData, 'security') }} ...
    {% endif %} #}
    <div class="login-register two-cols">
        <div class="col col-bdr">

{#            <h2 class="strong">Rezerwacja zakończona</h2>#}
            {% form_theme loginForm 'bootstrap_3_horizontal_layout.html.twig' %}
            {{ form(loginForm, {'action': path('_check_path')}) }}

           {# <div class="remember-pass-form">
                <h2 class="strong">Przypomnij hasło</h2>
                {% form_theme rememberPasswdForm 'bootstrap_3_horizontal_layout.html.twig' %}
                {{ form(rememberPasswdForm) }}
            </div>#}

        </div>
		   <h4><a href="{{path('register')}}">Zarejestruj się</a></h4>
    </div>
{% endblock %}