
{% extends "::base.html.twig" %}
{#{% extends '::default/index.html.twig' %}#}
{#{% set hideSidebar = true %}#}
{#{% set hideSearch = true %}#}

{#{% block pageTitle %}Zaloguj się lub zarejestruj{% endblock %}#}

{% block contentTitle %}Logowanie i rejestracja{% endblock %}

{% block container %}
	{# {% if error %}
		 ... {{ error.messageKey|trans(error.messageData, 'security') }} ...
	 {% endif %} #}
    <div class="login-register two-cols">
        <div class="col col-bdr">


			<div class="col">

				<h2 class="strong">Rejestracja</h2>
				{% form_theme registerUserForm 'bootstrap_3_horizontal_layout.html.twig' %}
				{{ form(registerUserForm) }}
			</div>
		</div>
			
			<h4><a href="{{path('login')}}">Zaloguj się</a></h4>
	{% endblock %}