{% extends '::default/index.html.twig' %}

{% block container %}

    <h1>Upload File</h1>

 {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
    {{ form_start(form) }}
        {{ form_widget(form) }}

        <input type="submit" value="Upload Document" />
    {{ form_end(form) }}


{% endblock %}